# Compiled Object Files
*.o

# Executables
rsa_system

# Temp Files from Code Runner
tempCodeRunnerFile
tempCodeRunnerFile.*

# Standalone test executables (kept in folders for testing)
# Uncomment these if you don't want to commit them:
# euclidean/euclidean
# sieve/sieve
# uft/uft
# fermatFactorization/fermat
# mod_exponentiation/mod_exp
# quotrem/quotient_remainder

# macOS
.DS_Store

# VSCode
.vscode/
